node_modules
vendor
storage
.git
.env
public/build
public/js/filament
public/css/filament
public/fonts/filament
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-debug.log
yarn-error.log
.idea
.vscode
.zed
