@import '../../../../vendor/filament/filament/resources/css/theme.css';

@theme {
    --color-primary-50: #f0f7ff;
    --color-primary-100: #e0effe;
    --color-primary-200: #bae0fd;
    --color-primary-300: #7cc8fb;
    --color-primary-400: #38a9f8;
    --color-primary-500: #0e8ce9;
    --color-primary-600: #026dc3;
    --color-primary-700: #03579e;
    --color-primary-800: #064b83;
    --color-primary-900: #0a3f6d;
    --color-primary-950: #0a2540;

    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
    --radius-3xl: 1.5rem;
}